<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome Admin !</h1>
    <a href="/logout">Logout</a>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Email</th>
                <th>Username</th>
                <th>role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((el, idx) => { %>
             <tr>
                <td><%= idx + 1 %> </td>
                <td><%= el.email %></td>
                <td><%= el.username %></td>
                <td><%= el.role %></td>
                <td>
                    <a href="/admin/delete/<%= el.id %> ">Delete</a>
                </td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>